@media screen and (max-width: 900px) {
  :root {
    --imagemtamanho: 130px;
    /* Define o tamanho dos icones das habilidades */
  }

  h3 {
    font-size: 20px;
  }

  h2 {
    font-size: 30px;
  }

  h1 {
    font-size: 48px;
  }

  header ul {
    display: none;
  }

  section,
  header {
    padding: 2% 0;
  }

  * {
    flex-direction: column;
    text-align: center;
  }

  .perfil-foto {
    margin-top: 50px;
  }

  .container {
    width: 95%;
  }

  #habilidades > p,
  #projetos-mouse {
    display: none;
  }

  .projeto {
    margin-bottom: 100px;
  }

  .informacoes-projeto {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #habilidades h1 {
    margin: 10px 0;
  }

  .icons {
    gap: 20px;
  }

  .icons > div, .icons > div:hover {
    width: 95%;
    flex-direction: row;
    height: 50vw;
    margin: 10px 0;
  }

  .icons > div p {
    min-width: 0;
    margin-left: 0;
    font-size: 100%;
  }

  .html {
    background-color: #f15a2f;
  }
  .css {
    background-color: #1776bc;
  }
  .js {
    background-color: #f9b141;
  }

  .icons .js img {
    width: var(--imagemtamanho);
  }

  footer {
    flex-direction: column-reverse;
  }

  footer i {
    font-size: 40px;
  }
}
