section {
  padding: 5%;
  min-height: var(--alturadasection);
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--corbase3);
}

section:nth-of-type(2n + 1) {
  background: var(--corbase1);
}

.container {
  width: 50%;
}

.container > p {
  margin-bottom: 30px;
}

a.git {
  background-color: var(--corbase3);
  padding: 3% 23%;
  border-radius: 50px;
  font-size: 20px;
  letter-spacing: 1px;
}

#projetos > a.git {
  display: block;
  justify-self: center;
  padding: 1% 0;
  width: 300px;
  margin-top: 20px;
}

p {
  font-size: 18px;
  letter-spacing: 1px;
}
h3 {
  font-size: 30px;
  font-weight: 300;
}
h2 {
  font-size: 40px;
}
h1 {
  font-size: 55px;
  font-weight: bolder;
}